{{#> layouts/base title=product.name }}

{{#*inline "content"}}
{{#if (not product.parent)}}
<main>
  <header class="items-start md:flex">
    <div class="items-start md:flex md:w-4/5 md:pr-20">
      <img src="/static/{{product.icon}}" class="h-12 mx-auto mt-1 md:mr-5">
      <div class="flex-grow ml-2 text-center md:text-left">
        <h1 class="my-4 text-4xl font-extrabold leading-none md:mb-3 md:my-0">{{product.name}}</h1>
        <h3 class="w-11/12 text-md font-regular">{{product.description}}</h3>
        {{#if product.children}}
        <div class="mt-4 text-sm text-center md:text-left">
          <span class="text-gray-300">This policy also applies to:</span>
          {{#each product.children}}
          <span>{{this.name}}</span>
          {{/each}}
        </div>
        {{/if}}
      </div>
    </div>
    <div class="pt-8 text-center md:w-1/5 md:text-left md:pt-0">
      <div class="score-size font-extrabold leading-none md:mb-2 md:my-0 {{ratioColorClass (divide product.score 10)}}">
        {{product.score}}<span class="font-normal text-gray-400">/10</span>
      </div>
      <a href="/about/#ratings" class="p-0 -mt-2 text-sm text-gray-300 hover:text-blue-500">How we calculate ratings
        &rarr;</a>
    </div>
  </header>
  <hr class="h-16 sep">
  <div class="flex flex-col md:flex-row">
    <section class="w-full md:w-4/5 md:pr-20">
      {{#forOwn rubricCategories}}
      <div id="{{@key}}" class="mb-4 text-xl font-semibold text-center md:text-left">{{capitalize @key }}</div>
      <div class="pb-4">
        {{#each this as |selection|}}
        <div class="mb-6">
          {{> includes/rubricQuestion selection=selection}}
        </div>
        {{/each}}
      </div>
      {{/forOwn}}
      {{#if product.updates}}
      <section id="timeline" class="pt-4">
        <div id="updates" class="mb-4 text-xl font-semibold text-center md:text-left">Updates</div>
        {{#forOwn timeline}}
        <div class="flex">
          <div class="md:w-1/12 w-full pb-2 text-center md:text-right md:pr-3 md:border-r border-gray-100 ">{{multiply -1 @key}}</div>
        </div>
        {{#forOwn this}}
        <div class="flex flex-col md:flex-row">
          <div class="md:w-1/12 w-full mb-2 text-center text-gray-400 md:text-right md:mb-0 md:pr-3 md:border-r border-gray-100">
            {{getMonth (add 1 @key)}}</div>
          <div class="md:w-11/12 pl-3">
            <div class="h-auto">
              {{#each this as |update|}}
              <div>
                <div class="text-center md:text-left text-lg font-bold">{{update.title}}</div>
                <div class="mt-2 mb-2 text-sm">{{update.description}}</div>
                <div class="inline-block mb-6">
                  {{#each update.sources as |source|}}
                  <a href="{{this}}" target="_blank" class="text-sm text-gray-400 hover:text-blue-500">Source
                    #{{add 1 @index}}&nbsp;&nearr; </a>
                  {{/each}}
                </div>
              </div>
              {{/each}}
            </div>
          </div>
        </div>
        {{/forOwn}}
        {{/forOwn}}

      </section>
      {{/if}}
    </section>
    <section class="w-full mt-10 text-center md:text-left md:w-1/5 md:mt-0">
      <div class="mb-6">
        <p class="text-sm text-gray-300">Last Updated</p>
        <p class="mt-1 text-sm text-black">May 5, 2020</p>
      </div>
      <div class="my-6">
        <p class="text-sm text-gray-300">Sources</p>
        <p>
          {{#each product.sources}}
          <a href="{{this}}" class="mt-1 text-sm hover:text-blue-500" target="_blank">Source
            #{{add 1 @index}}&nbsp;&nearr;</a>
          {{/each}}
        </p>
      </div>
      <div class="mb-6">
        <p class="text-sm text-gray-300">Contributors</p>
        <p class="mt-1 text-sm text-black">
          {{#each product.contributors as |contributor|}}
          {{contributor.slug}}{{#unless @last}}, {{/unless}}
          {{/each}}
        </p>
      </div>
      {{#if product.children}}
      <div class="my-6">
        <p class="text-sm text-gray-300">Affected Products</p>
        {{#each product.children}}
        <div class="inline-flex flex-row items-center w-auto max-w-full mx-auto mt-1 mb-1 md:mx-0 justify-left">
          <div class="flex items-center w-6 h-6">
            <img src="/static/{{this.icon}}">
          </div>
          <span class="ml-2 text-sm font-semibold">{{this.name}}</span>
        </div>
        <br>
        {{/each}}
      </div>
      {{/if}}
    </section>
  </div>
</main>
{{else}}
<p>This policy is a child of <a href="/product/{{product.parent}}">{{product.parent}}</a>. Eventually this will be a
  redirect.</p>
{{/if}}
{{/inline}}
{{/layouts/base}}