{{#> layouts/base title=product.name }}

{{#*inline "content"}}
<main>
  <header class="items-start md:flex">
    <div class="items-start md:flex md:w-3/4 md:pr-20">
      <img src="/static/{{product.icon}}" class="h-12 mx-auto mt-1 md:mr-5">
      <div class="flex-grow ml-2 text-center md:text-left">
        <h1 class="my-4 text-4xl font-extrabold text-black md:my-0">{{product.name}}</h1>
        <h3 class="w-11/12 text-black text-md font-regular">{{product.description}}</h3>
      </div>
    </div>
    <div class="pt-4 text-center md:w-1/4 md:text-left md:pt-0">
      <div class="heading score-size {{ratioColorClass (divide product.score 10)}}">{{product.score}}<span
          class="font-normal text-gray-300">/10</span>
      </div>
      <a href="/about/#ratings" class="p-0 -mt-2 text-sm text-gray-300 hover:text-blue-500">How we calculate ratings
        &rarr;</a>
    </div>
  </header>
  <hr class="my-8 border-gray-100">
  <div class="md:flex">
    <section class="w-full md:w-3/4 md:pr-20">
      {{#each product.rubric}}

      <div class="mb-6">
        <div>
          <div class="flex text-gray-800 cursor-pointer text-md" onclick="toggleRubricSelection({{add 1 @index}})">
            <div class="flex-shrink">
              <i class="fas fa-chevron-down" id="chevron-{{add 1 @index}}"></i>
            </div>
            <div class="flex-shrink h-2 mx-4">
              <i class="fas fa-circle {{ratioColorClass (divide this.option.percent 100)}}"></i>
            </div>
            <div class="flex-grow">
              <span>{{this.question.text}}&nbsp;</span>
              <span class="text-gray-300">{{this.option.text}}</span>
            </div>
            <div class="flex-shrink-0 pl-4 text-right">
              <span>{{round (multiply (divide this.option.percent 100) this.question.points)}}</span><span
                class="text-gray-300">/{{this.question.points}}</span>
            </div>
          </div>
        </div>
        <div id="selection-{{add 1 @index}}" class="hidden h-12 mt-3 border border-gray-200">

        </div>
      </div>
      {{/each}}
    </section>
    <section class="md:w-1/4">
      <div class="mb-6">
        <p class="text-xs tracking-wider text-gray-300 uppercase">Last Updated</p>
        <p class="mt-1 text-sm text-black">May 5, 2020</p>
      </div>
      <div class="my-6">
        <p class="text-xs tracking-wider text-gray-300 uppercase">Sources</p>
        <p>
          {{#each product.policies}}
          <a href="{{this}}" class="mt-1 text-sm text-black hover:text-blue-500" target="_blank">Source
            #{{add 1 @index}} &rarr;</a>
          {{/each}}
        </p>
      </div>
      <!-- Haven't tested this -->
      {{#if product.affected_policies}}
      <div class="my-6">
        <p class="text-xs tracking-wider text-gray-300 uppercase">Affected Products</p>
        {{#each product.affected_policies}}
        <div class="flex flex-row items-center">
          <div class="w-8 h-8">
            <img src="static/{{this.icon}}">
          </div>
          <a href="{{this.link}}" class="mt-1 text-sm text-black hover:text-blue-500" target="_blank">{{this.name}}
            #{{add 1 @index}} &rarr;
          </a>
        </div>
        {{/each}}
      </div>
      {{/if}}
      <!-- -->
    </section>
  </div>
</main>
{{/inline}}
{{/layouts/base}}