{{#> layouts/base title=product.name }}

{{#*inline "content"}}
<main>
  <header class="items-start md:flex">
    <div class="items-start md:flex md:w-4/5 md:pr-20">
      <img src="/static/{{product.icon}}" class="h-12 mx-auto mt-1 md:mr-5">
      <div class="flex-grow ml-2 text-center md:text-left">
        <h1 class="my-4 text-4xl font-extrabold leading-none md:mb-3 md:my-0">{{product.name}}</h1>
        <h3 class="w-11/12 text-md font-regular">{{product.description}}</h3>
        {{#if product.children}}
        <div class="mt-2 text-sm text-center md:text-left">
          <span class="text-gray-300">This policy also applies to:</span>
          {{#each product.children}}
          <span>{{this.name}}</span>
          {{/each}}
        </div>
        {{/if}}
      </div>
    </div>
    <div class="pt-8 text-center md:w-1/5 md:text-left md:pt-0">
      <div class="score-size font-extrabold leading-none md:mb-2 md:my-0 {{ratioColorClass (divide product.score 10)}}">
        {{product.score}}<span class="font-normal text-gray-400">/10</span>
      </div>
      <a href="/about/#ratings" class="p-0 -mt-2 text-sm text-gray-300 hover:text-blue-500">How we calculate ratings
        &rarr;</a>
    </div>
  </header>
  <hr class="my-8 border-gray-100">
  <div class="md:flex">
    <section class="w-full md:w-4/5 md:pr-20">
      {{#each product.rubric}}
      <div class="mb-6">
        <div>
          <div class="flex text-gray-800 cursor-pointer text-md" onclick="toggleRubricSelection({{add 1 @index}})">
            <div class="flex-shrink">
              <i class="fas fa-chevron-down" id="chevron-{{add 1 @index}}"></i>
            </div>
            <div class="flex-shrink mx-6">
              <i class="fas fa-circle {{ratioColorClass (divide this.option.percent 100)}}"></i>
            </div>
            <div class="flex-grow">
              <span>{{this.question.text}}&nbsp;</span>
              <span class="text-gray-300">{{this.option.text}}</span>
            </div>
            <div class="flex-shrink-0 pl-4 text-right">
              <span>{{round (multiply (divide this.option.percent 100) this.question.points)}}</span><span
                class="text-gray-300">/{{this.question.points}}</span>
            </div>
          </div>
        </div>
        <div id="selection-{{add 1 @index}}" class="flex hidden h-auto p-4 mt-3 border border-gray-100 rounded">
          <div>
            {{#each this.question.options as |option|}}
            <div class="flex my-2 text-sm rounded {{#if (eq option this.selection)}}bg-blue-400 text-white{{/if}}">
              <div class="w-5/6">{{option.text}}</div>
              <div class="w-1/6 ml-4 font-medium text-right">{{option.percent}}%</div>
            </div>
            {{/each}}
          </div>
        </div>
      </div>
      {{/each}}
    </section>
    <section class="w-full md:w-1/5">
      <div class="mb-6">
        <p class="text-sm text-gray-300">Last Updated</p>
        <p class="mt-1 text-sm text-black">May 5, 2020</p>
      </div>
      <div class="my-6">
        <p class="text-sm text-gray-300">Sources</p>
        <p>
          {{#each product.policies}}
          <a href="{{this}}" class="mt-1 text-sm hover:text-blue-500" target="_blank">Source
            #{{add 1 @index}} &rarr;</a>
          {{/each}}
        </p>
      </div>
      <div class="mb-6">
        <p class="text-sm text-gray-300">Contributors</p>
        <p class="mt-1 text-sm text-black">
          {{#each product.contributors as |contributor|}}
            {{contributor}}{{#unless @last}}, {{/unless}}
          {{/each}}
        </p>
      </div>
      {{#if product.children}}
      <div class="my-6">
        <p class="text-sm text-gray-300">Affected Products</p>
        {{#each product.children}}
        <div class="flex flex-row items-center mt-1 mb-1">
          <div class="flex items-center w-6 h-6">
            <img src="/static/{{this.icon}}">
          </div>
          <span class="ml-2 text-sm font-semibold">{{this.name}}</span>
        </div>
        {{/each}}
      </div>
      {{/if}}
      <!-- -->
    </section>
  </div>
</main>
{{/inline}}
{{/layouts/base}}