<div class="border border-gray-100 rounded">
  <a href="product/{{product.slug}}">
    <div class="p-3">
      <div class="items-start pb-1 md:flex">
        <img src="/static/{{product.icon}}" class="h-8 mx-auto mt-1 md:ml-2 md:mr-3">
        <div class="flex-grow ml-2 text-center md:text-left leading-1">
          <div class="mt-5 text-xl font-semibold md:mt-1 md:mb-2">
            {{product.name}}&nbsp;
            <div
              class="text-xl font-semibold leading-none md:my-0 inline-block {{ratioColorClass (divide product.score 10)}}">
              {{product.score}}<span class="font-normal">/10</span>
            </div>
          </div>
          <h3 class="mt-2 text-sm md:mt-0">{{product.description}}</h3>
        </div>
      </div>
    </div>
  </a>
</div>