<div class="border border-gray-100 rounded">
  <a href="/product/{{product.slug}}">
    <div class="p-3">
      <div class="flex flex-col items-start pb-1 lg:flex-row">
        <div class="w-full mx-auto mt-3 lg:mt-1 lg:w-10 md:ml-2 md:mr-3">
          <img src="/static/icons/{{product.icon}}"
            class="object-contain w-10 h-10 mx-auto lg:h-full lg:w-full lg:mx-0">
        </div>
        <div class="flex-grow ml-2 text-center lg:w-5/6 lg:text-left leading-1">
          <div class="mt-5 text-xl font-semibold lg:mt-1 lg:mb-1">
            {{product.name}}&nbsp;
            <div
              class="text-xl font-semibold leading-none lg:my-0 inline-block {{ratioColorClass (divide product.score 10)}}">
              {{product.score}}<span class="font-normal">/10</span>
            </div>
          </div>
          <h3 class="mt-2 text-sm lg:mt-0">{{product.description}}</h3>
        </div>
      </div>
    </div>
  </a>
</div>