<title>
    {{title}} | PrivacySpy
</title>
<link rel="stylesheet" href="/static/css/base.css" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link href="/static/img/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180" />
<link href="/static/img/fingerprint-icon.svg" rel="icon" type="image/svg+xml" />
<link href="/static/img/favicon-32x32.png" rel="alternate icon" sizes="32x32" type="image/png" />
<meta name="theme-color" content="#ffffff" />
<link href="https://chrome.google.com/webstore/detail/ppembnadnhiknioggbglgiciihgmkmnd" rel="chrome-webstore-item" />
<meta name="description"
    content="{{default description "PrivacySpy is an open project to grade and monitor privacy policies for convenience and accountability. Let's make informed data privacy decisions." }}" />
<meta property="og:title" content="{{title}} | PrivacySpy" />
<meta property="og:description"
    content="{{default description "PrivacySpy is an open project to grade and monitor privacy policies for convenience and accountability. Let's make informed data privacy decisions." }}" />
<meta property="og:image:secure_url" content="/static/img/graphic.png" />
<meta property="og:site_name" content="PrivacySpy" />
<meta property="og:image" content="/static/img/graphic.png" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="og:url" content="https://privacyspy.org" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:domain" content="privacyspy.org" />
<meta name="twitter:title" content="{{title}} | PrivacySpy" />
<meta name="twitter:description"
    content="{{default description "PrivacySpy is an open project to grade and monitor privacy policies for convenience and accountability. Let's make informed data privacy decisions." }}" />
<meta name="twitter:image:src" content="/static/img/graphic.png" />
{{#if product_redirect }}
<meta http-equiv="refresh" content="0; url='/product/{{product_redirect}}'" />
{{else}}
<script src="/static/js/core.js"></script>
<script src="/static/deps/lunr.min.js"></script>
<script src="/static/js/search.js"></script>
{{/if}}